<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>
    <form method="POST">
        <label>Vous êtes :</label>
        <input type="radio" id="eleve" name="role" value="eleve" required>
        <label for="eleve">Élève</label>
    
        <input type="radio" id="prof" name="role" value="prof" required>
        <label for="prof">Professeur</label>
    
        <br>
        <label for="nom_utilisateur">Nom d'utilisateur :</label>
        <input type="text" id="nom_utilisateur" name="nom_utilisateur" required>
    
        <label for="mot_de_passe">Mot de passe :</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe" required>
    
        <button type="submit">Se connecter</button>
    </form>
    

    <!-- Bouton pour revenir au menu -->
    <a href="{{ url_for('index') }}"><button>Retour au menu</button></a>
</body>
</html>